.update-paint-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  text-align: left;
  justify-items: flex-start;
  margin-left: 2vmin;
  background-color: rgba(100, 100, 100, .5);
  padding: 2vmin;
  border-radius: 5px;
  width: 60%;
}

.update-paint-form {
  width: 100%;
  align-items: flex-start;
  /* margin-left: 5vmin; */
}