.paint-main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 20vmin;
  padding-top: 5vmin;
  overflow: auto;
  background: linear-gradient(315deg, #2F2D2E 3%, #E0E2DB 38%, #231F20 68%, #BEB7A4 98%);
  animation: gradient 60s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

.paint-card-div {
  width: 80%;
}

.paint-card-div:hover {
  width: 85%;
}