.paint-card {
  background-color: #FCEFF9;
  padding: 3vmin;
  margin: 3vmin 0;
  box-sizing: border-box;
  border-radius: 0.5em;
}

.paint-name {
  margin: 0;
  font-size: 5vmin;
  font-family: 'Finger Paint', cursive;
}

.color-stats {
  display: flex;
  flex-wrap: wrap;
  gap: 3vmin;
  align-items: center;
  justify-content: center;
  font-size: 2vmin;
  font-family: 'Finger Paint', cursive;
}

.paint-stats {
  display: flex;
  flex-wrap: wrap;
  gap: 3vmin;
  align-items: center;
  justify-content: center;
  font-family: 'Finger Paint', cursive;
}

.stat {
  max-width: 33%;
  margin: 0;
  display: inline;
  font-size: 2.5vmin;
}

.brand {
  font-family: 'Finger Paint', cursive;
  font-size: 2vmin;
}