.palette-card {
  background-color: white;
  width: 80%;
  margin: 3vmin;
  padding-bottom: 2vmin;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: space-around;
}

.palette-name {
  align-self: center;
}

.palette-paint {
  margin-left: 10vmin;
  margin-right: 10vmin;
  width: 80%;
}

.palettes-main {
  height: 100vh;
  background-color: #454851;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}