.palette-card {
  background-color: white;
  width: 80%;
  margin: 3vmin;
  padding-bottom: 2vmin;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: space-around;
  box-shadow: #FFFFFFCF 0px 0px 20px;
  font-family: 'Finger Paint', cursive;
  position: relative;
}

.palette-name {
  align-self: center;
  font-size: 4vmin;
}

.delete-palette-btn {
  z-index: 2;
  margin-left: 90%;
  display: inline-flex;
}


.confirm-delete {
  color: red;
  margin-right: 2vmin;
}

.cancel-delete {
  color: white;
}

.warning-div {
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #000000AA;
  color: red;
  align-self: center;
  margin-top: 2vmin;
  border-radius: 10px;
  padding: 2vmin;
  border: 5px solid red;
}

.palette-paint {
  margin-left: 10vmin;
  margin-right: 10vmin;
  width: 80%;
}

.palettes-main {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: auto;
  background: linear-gradient(315deg, #C2CFB2 3%, #6320EE 38%, #231F20 68%, #8075FF 98%);
  animation: gradient 35s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}
