
.remove-paint-div {
  display: flex;
  width: 90%;
  margin: 1vmin 0;
  text-align: left;
  padding: 1vmin;
  border-radius: 5px;
}

.remove-paint-div:hover {
  background-color: rgba(100, 100, 100, .5);
}

.paint-label {
  width: 95%;
  margin-left: 0vmin;
}

#remove-btn {
  max-height: 7vmin;
}