nav {
  background-color: #1BE7FF9F;
  height: 5vh;
  margin: 0;
  padding: 1vmin;
}

ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding-top: 1vh;
  color: black;
}

li {
  list-style-type: none;
  color: black;
  font-weight: 500;
  font-size: 2vmin;
}

.link {
  color: black;
  text-decoration: none;
  font-weight: 500;
  padding: 1vmin;
  border-radius: 5px;
  
}

.link:hover {
  background-color: #1BE7FFFF;
}

.logo-link {
  max-height: 4vmin;
  background-color: grey;
  border-radius: 50%;
}

