nav {
  background-color: #1BE7FF9F;
  height: 5vh;
  margin: 0;
  padding: 1vmin;
  /* padding-bottom: 1vmin; */
}

ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  /* margin-top: 1vmin; */
  /* margin-bottom: 1vmin; */
  padding-top: 1vh;
  color: black;
  /* align-items: center; */
}

li {
  list-style-type: none;
  color: black;
  font-weight: 500;
  font-size: 2vmin;
}

.link {
  color: black;
  text-decoration: none;
  font-weight: 500;
  padding: 1vmin;
  border-radius: 5px;
  
}

.link:hover {
  background-color: #1BE7FFFF;
}

.logo-link {
  max-height: 4vmin;
  background-color: grey;
  border-radius: 50%;
}

@media screen and (max-width: 620px){
  nav {
    height: 6vh;
  }
  ul {
    justify-content: space-between;
    text-align: center;
    /* margin-left: 0; */
    padding: 0;
    margin-top: 1vmin;
    align-items: center;
  }
  li {
    font-size: 3vmin;
  }
}

